@model Blog.Models.Kullanici
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hoşgeldiniz @Model.isim</h2>
<p>Yazdığınız Makale Sayısı:@Model.Makales.Count</p>

@Html.ActionLink("Makale Yaz", "Create", "Makale") |
@Html.ActionLink("Makalelerimi Listele", "KisiMakaleListele", "Makale")

